/* RESET */

* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  list-style: none;
  margin: 0;
}

/* STYLE */

html,
body {
  height: 100%;
  --gray-colors-100: hsla(240, 9%, 89%, 1);
  --gray-colors-200: hsl(240, 7%, 78%);
  --back: #e5e5e5;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--back);
}

main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.spinning {
  animation: loading 10s linear infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: loading;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 10;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--gray-colors-100);
  margin-top: 1.5rem;
}

p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--gray-colors-100);
  margin-top: 2rem;
}

a {
  font-size: 16px;
  line-height: 26px;
  color: var(--gray-colors-200);
  margin-top: 0.25rem;
  gap: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin-top: 4rem;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.linkedin img {
  border-radius: 4px;
}

.instagram img {
  border-radius: 4px;
}

.facebook img {
  border-radius: 4px;
}

.twitter img {
  border-radius: 4px;
}


